# Ignore node_modules
node_modules/

# Ignore compiled JS output (optional, but usually better)
*.js
*.js.map

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build or dist folders if any
dist/
build/
